__pycache__/
.idea/*
model/
.vscode
env
.metals
raw_photos
lib
family
processed
.DS_Store
.ammonite
dataset*
test_family_images
model_folds
plot_images/
model_colab
*.pickle
.env
data/
project
.bloop
target
.bsp